* {
    font-family: 'Work Sans', sans-serif;
}

body {
    margin-bottom: 75px;
}

.container {
    width: 1200px;
    margin: auto;
    margin-top: 40px;
    border: 1px solid lightgray;
}

header {
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    background-color: #003248;
    color: white;
}

header h1 {
    font-size: 60px;
}

header p {
    font-size: 16px;
}

table, form {
    width: 1120px;
    margin: 40px;
}

td, th {
    border: 1px solid #b6b6b6;
    text-align: left;
    padding: 8px;
}

th {
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    width: 1114px;    
    height: 30px;
    margin-bottom: 20px;
    /* box-sizing: border-box; */
}

.button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #003248;
    margin-bottom: 0;
}

.sec-head {
    background-color: #003248;
}

.sec-head h1 {
    font-size: 20px;
    color: white;
    padding: 10px;
}